<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  <!-- Page Header -->
  {% if page.background %}
  <header class="masthead header-large" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
      {% endif %}
      <div class="overlay"></div>
      <div class="header-image">
        <div class="mx-auto mt-10" style="width: 300px; margin-top: 80px;text-align:center">
          <img src="/images/kadosh-logo.png" class="img-fluid"/>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto pt-10 pb-10">
            <div class="page-heading">              
              <h1 class="header-text pt-5 pb-10">
                  {% if page.lang == "en" %}                  
                      {{ site.header.en }}
                  {% elsif page.lang == "de" %}
                      {{ site.header.de }}
                  {% endif %}
              </h1>
              <span class="subheading">
                  {% if page.lang == "en" %}                  
                      {{ site.home_description.en }}
                  {% elsif page.lang == "de" %}
                      {{ site.home_description.de }}
                  {% endif %} - 
              <i>Kadosh</i></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ content }}          
        </div>
      </div>
    </div>

  {% include footer.html %}

  {% include scripts.html %}

  {% include cookie_consent.html %}

</body>

</html>